body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fde0e0; /* Baby Pink Background */
    color: #333;
}

header {
    background-color: #ff80b3; /* Lighter Pink Header */
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.quote {
    font-size: 1.2em;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff80b3; /* Lighter Pink Footer */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 600px) {
    section {
        padding: 10px;
    }

    .quote {
        font-size: 1em;
    }
}
